@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Arimo|Maitree');
body{
  background-color: #ecb3ff;
}
.logo{
  display: inline;


}
#img1{
  position: absolute;
  top: 10px;
  left: 43%;
  border-radius: 50%;

}
.first{
  width:500px;
  position:absolute;
  top:50px;
  left:30%;
  margin: 15px auto;
padding: 10px;
font-family: 'Arimo', sans-serif;
font-size: 15px;
color: black;
}

.second{
  width: 520px;
  position:absolute;
  top:200px;
  left:28.5%;
margin:15px 20px ;
font-family: 'Arimo', sans-serif;
font-family: 'Maitree', serif;

}
#git-link{
  width: 350px;
  float: left;
  position: relative;
  left:100px;
background-color:#99ccff;
height: 50px;
margin-bottom: 20px;
}
#sign-git{
  float: right;
  position: relative;
  right:60px;
  bottom: 15px;
font-size: 20px;

}



div {
  background-color: #f2f2f2;
  text-align: center;
  left:20% 40%;
}

.bordered {
  width: 350px;
  font-size: 20px;
  position: relative;
  left: 40%;
  background-color: #4dffff ;
   }
   .start{
     width:100px
   color: red;
 }
.footer{
  position: absolute;
  top: 100%;
  width: 100%;
margin-top: 75px;
}
#left{
  float: left;
  position: relative;
  top: 10px;
}
#right{
  float: right;

}
#center{
  position: relative;
  top: 25px;
}
